// Heading Scale
@media (max-width: 40em)
  heading-scale( 1.12, 2, 0, 0)
@media (min-width: 40em)
  heading-scale( 1.2, 2, 0, 0)

// Heading Settings - Global settings for h1-h6
$heading-settings
  font-weight 400
  letter-spacing 0.075em
  line-height unit(0.85)